/*#DC092F / rgb(220, 9, 47)-> MSH red*/
/*#008AC4 / rgb(0, 138, 196)-> MSH blue*/

:root {
    --blue-msh: #008AC4;
    --white: #ffffff;
    --green-bgcolor: #c8e6c9;
    --green-font: #388e3c;
    --red-msh: #DC092F;
    --red-font: #c62828;
    --yellow-bgcolor: #fff0c2;
    --yellow-font: #a68b00;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@page {
    size: 7in 9.25in;
    margin: 27mm 16mm 27mm 16mm;
    @bottom-right {
        content: "Page " counter(page) " of " counter(pages);
        font-family: "Open Sans", sans-serif;
    }
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold; /* Bold */
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal; /* Regular */
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter; /* Light */
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

header > div{
    margin-bottom: 0.5rem;
}

.header-top {
    display: flex;
    align-items: flex-end;
}
.logo-area{
    display: flex;
    align-items: flex-end;
    margin-left: auto;
}

.logo-area img {
    width: 100%;
    height: auto;
    max-height: calc(100vw * 0.05); /* Adjust the percentage as needed */
}

.separator {
    width: 1px;
    height: 80px;
    background-color: lightgray;
    margin: 0 0.5rem;
}

.header-bot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.custom-line{
    border-color:lightgray;
    height: 0.5px;
}

body {
    padding: 1rem;
}

.meta-div {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    gap: 1rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 5px;
    box-shadow: 0 1px 3px gray;
    background-color: RGB(250, 250, 250);
}

th {
    background-color: rgb(0, 138, 196, 0.25);
    text-align: center;
    letter-spacing: 0.25em;
    border-radius: 5px 5px 0px 0px;
}

td {
    padding: 0.3rem 1.0rem;
    font-size: 0.7rem;
    text-align: left;
    white-space: nowrap;
}

.dataframe.data-table {
    background-color: RGB(250, 250, 250);
    width: 100%;
    overflow-x: auto;
}

.dataframe.data-table th {
    border-radius: 0px;
    letter-spacing: 0em;
    background-color: rgb(220, 9, 47, 0.25);
}

.dataframe.data-table td {
    text-align: center;
    padding: 0.3rem 1.0rem;
    white-space: nowrap;
}